---
import { Image } from 'astro:assets';
import { siteInfo } from '../config/siteInfo';
---

<div class="md:fixed">
  <div class="md:block flex justify-center items-center">
    <Image
      src={siteInfo.author_image}
      alt={siteInfo.author}
      width={240}
      height={240}
      class="shadow-xl md:h-60 md:w-60 h-40 w-40 rounded-full object-cover"
      loading="eager"
    />
    <div class="mb-2 mx-7 mt-4 justify-center items-center">
      <h1 class="md:text-3xl text-2xl text-gray-800 font-bold dark:text-blue-100">
        {siteInfo.author}
      </h1>
      <div class="md:text-lg text-gray-600 dark:text-blue-100">
        {siteInfo.position}
      </div>
      <a
        href={`mailto:${siteInfo.email}`}
        class="text-gray-600 md:hidden mt-1 dark:text-blue-100"
      >
        {siteInfo.email}
      </a>
    </div>
  </div>

  <div class="mx-7 hidden md:block">
    <div class="my-2 text-gray-600 flex dark:text-blue-100 items-center">
      <svg class="w-5 h-5 mr-1" fill="currentColor" viewBox="0 0 20 20">
        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
      </svg>
      <a class="align-middle" href={`mailto:${siteInfo.email}`}>{siteInfo.email}</a>
    </div>
    <div class="my-2 text-gray-600 flex dark:text-blue-100 items-center">
      <svg class="w-5 h-5 mr-1" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
      </svg>
      <p>{siteInfo.location}</p>
    </div>
    <div class="my-2 text-gray-600 flex dark:text-blue-200 items-center">
      <svg class="w-5 h-5 mr-1" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M10 0C4.477 0 0 4.484 0 10.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0110 4.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0020 10.017C20 4.484 15.522 0 10 0z" clip-rule="evenodd"></path>
      </svg>
      <a href={siteInfo.github}>{siteInfo.githubUser}</a>
    </div>
  </div>
</div>
